<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head>
        <title>GenerosiApp</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilo_pagina.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>

        <div class="contenido">
            <h2>Lista de voluntariados</h2>
            <br>
                <div>
                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/nuevoVoluntariado}">Nuevo Voluntariado</a>
                    <br>
                        <a th:href="@{/a}">Voluntarios</a>
                        <br>
                        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/b}">Administradores</a>
                        <br>
                            <a th:href="@{/}">Inicio</a>
                            <br><br>
                                    <table border="1">
                                        <thead>
                                            <tr>
                                                <th>Fecha</th>
                                                <th>Direccion</th>
                                                <th>Motivo</th>
                                                <th sec:authorize="hasRole('ROLE_ADMIN')">Modificar</th>
                                                <th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="voluntariado : ${voluntariados}">
                                                <td th:text="${voluntariado.fecha}"></td>
                                                <td th:text="${voluntariado.direccion}"></td>
                                                <td th:text="${voluntariado.motivo}"></td>
                                                <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/modificarVoluntariado/} + ${voluntariado.id_voluntariado}">Modificar</td>
                                                <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/eliminarVoluntariado/} + ${voluntariado.id_voluntariado}">Eliminar</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>

                                    </div>
                                    <footer th:replace="layout/plantilla :: footer"/>
                                    </body>
                                    </html>
