<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>GenerosiApp</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilo_pagina.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>

        <div class="contenido">
            <h2>Lista de administradores</h2>
            <div>
                <a th:href="@{/nuevoAdministrador}">Nuevo Administrador</a>
                <br>
                    <a th:href="@{/}">Voluntariados</a>
                    <br>
                        <a th:href="@{/a}">Administradors</a>
                        <br>
                            <a th:href="@{/c}">Inicio</a>
                        <table border="1">
                            <thead>
                                <tr>
                                    <th>Cedula</th>
                                    <th>Correo</th>
                                    <th>Contraseña</th>
                                    <th>Nombre</th>
                                    <th>Apellidos</th>
                                    <th>Telefono</th>
                                    <th>Modificar</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="administrador : ${administradores}">
                                    <td th:text="${administrador.cedula}"></td>
                                    <td th:text="${administrador.correo}"></td>
                                    <td th:text="${administrador.contrasena}"></td> 
                                    <td th:text="${administrador.nombre}"></td>
                                    <td th:text="${administrador.apellidos}"></td>
                                    <td th:text="${administrador.telefono}"></td>
                                    <td><a th:href="@{/modificarAdministrador/} + ${administrador.id_administrador}">Modificar</td>
                                    <td><a th:href="@{/eliminarAdministrador/} + ${administrador.id_administrador}">Eliminar</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                        </div>
                        <footer th:replace="layout/plantilla :: footer"/>
                        </body>
                        </html>
