
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head >
        <title>GenerosiApp</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilo_pagina.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2>Datos de los voluntariados</h2>
        <br>
        <a th:href="@{/}">Regresar</a>
        <br>
        <form sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{/guardarVoluntariado}"
              method="post"
              th:object="${voluntariado}">
            
            <input type="hidden" name="id_voluntariado" th:field="*{id_voluntariado}"/>
            <br>
            <label for="fecha">fecha</label>
            <input type="text" name="fecha" th:field="*{fecha}"/>
            <br>
            <label for="direccion">direccion</label>
            <input type="text" name="direccion" th:field="*{direccion}"/>
            <br>
            <label for="motivo">motivo</label>
            <input type="text" name="motivo" th:field="*{motivo}"/>
            <br><br>
            <input type="submit" name="guardar" value="Guardar"/>
        </form>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
